[Desktop Entry]
Name=Pix
Name[ca]=Pix
Name[ca@valencia]=Pix
Name[cs]=Pix
Name[de]=Pix
Name[es]=Pix
Name[gl]=Pix
Name[it]=Pix
Name[ko]=Pix
Name[nl]=Pix
Name[pl]=Pix
Name[pt]=Pix
Name[sk]=Pix
Name[sv]=Pix
Name[uk]=Pix
Name[x-test]=xxPixxx
Name[zh_TW]=Pix
Comment=Image gallery viewer
Comment[ca]=Visor de galeria d'imatges
Comment[ca@valencia]=Visor de galeria d'imatges
Comment[de]=Bildergalerieanzeige
Comment[es]=Visor de galería de imágenes
Comment[gl]=Visor de galerías de imaxes
Comment[it]=Visualizzatore della galleria di immagini
Comment[ko]=그림 갤러리 뷰어
Comment[nl]=Viewer van galerij met afbeeldingen
Comment[pl]=Przeglądarka galerii obrazów
Comment[pt]=Visualizador de galerias de imagens
Comment[sk]=Prehliadač galérie obrázkov
Comment[sv]=Bildgallerivisning
Comment[uk]=Перегляд галерей зображень
Comment[x-test]=xxImage gallery viewerxx
TryExec=pix
Exec=pix %U
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;KDE;
StartupNotify=true
Icon=pix
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;
# Generic name with translations
GenericName=Image Gallery
GenericName[ca]=Galeria d'imatges
GenericName[ca@valencia]=Galeria d'imatges
GenericName[cs]=Galerie obrázků
GenericName[de]=Bildergalerie
GenericName[es]=Galería de imágenes
GenericName[fr]=Galerie d'images
GenericName[gl]=Galería de imaxes
GenericName[it]=Galleria di immagini
GenericName[ko]=그림 갤러리
GenericName[nl]=Galerij met afbeeldingen
GenericName[pl]=Galeria obrazów
GenericName[pt]=Galeria de Imagens
GenericName[sk]=Galéria obrázkov
GenericName[sv]=Bildgalleri
GenericName[uk]=Галерея зображень
GenericName[x-test]=xxImage Galleryxx
